@tailwind base;
@tailwind components;
@tailwind utilities;


/* Basic style kit */
body {
  @apply bg-zinc-900 h-full overflow-x-hidden; /* Apply the background in the page */
}


/* apply :full represents the full height of the page */
#__next{
  @apply h-full;
}

html {
  @apply h-full;
}

::-webkit-scrollbar{
  height: 8px;
  width: 8px;
}

::-webkit-scrollbar-track{
  background: transparent;
}

::-webkit-scrollbar-thumb{
  background:#FF9000 ;
  border-radius: 30px;
}